@media screen and (max-width: 1199px)  {

    .user {
        height: 250px;
    }
}

@media screen and (max-width: 799px)  {

    .container {
        .users {
            width: 40% !important;
        }
    }
}

@media screen and (max-width: 699px) {
    .user {
        height: 350px;
    }
}

@media screen and (max-width: 620px)  {

    .user {
        height: 300px;

        &__title {
            font-size: 1.3rem;
        }

        &__info {
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .container {
        .users {
            width: 50% !important;
        }
    }
}

@media screen and (max-width: 399px) {
    .container {
        .users {
            width: 55% !important;
        }
    }
}