@media screen and (max-width: 1199px) {
    .form-row__group {
        input {
            width: 350px;
        }
    }
}

@media screen and (max-width: 999px) {
    .form-row__group {
        input {
            width: 300px;
        }
    }

    .buttons {
        flex-direction: column !important;

        * {
            margin: none;
        }
    }
}

@media screen and (max-width: 999px) {
    .form-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 499px) {
    .form-row__group {
        input {
            width: 200px;
        }
    }
}